.form_container {
  margin-top: 60px;
  width: 100%;
}

.flight_form {
  display: flex;
  padding: 10px;
  width: 90%;
  flex-wrap: wrap;
}

.origin_autocomplete {
  margin: auto;
}

.swap_places {
  margin-top: 15px;
}

.search_flight_btn_div {
  margin: auto;
}

.search_flight_btn {
  background-color: royalblue;
  border: none;
  padding: 15px;
  width: 190%;
  border-radius: 25px;
  box-shadow: 2px 6px hotpink;
  color: white;
  font-size: large;
  font-weight: bolder;
  cursor: pointer;
}

.alert {
  width: 40%;
  margin: auto;
}

.date_range {
  margin: auto;
}

.date_range_input {
  padding: 18px;
  text-align: left;
  font-size: 14px;
  border: 1px solid rgb(182, 179, 179);
  border-radius: 5px;
  font-weight: bolder;
}

.radio_div {
  width: 95%;
  margin: auto;
  display: flex;
  justify-content: flex-end;
}
